.input {

  .wrapper {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 1.75rem 3.125rem 0.25rem 1rem;
    background: var(--color-extralight-grey);
    cursor: text;
    border-radius: var(--border-radius-sm);
    height: 4rem;

    .label {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font: var(--font-body-18);
      transition: var(--transition-default);
    }

    input:focus + .label {
      top: 1rem;
      font: var(--font-body-14);
      color: var(--color-grey);
    }

    input {
      font: var(--font-body-18);
      background: none;
      border: none;
      outline: none;
    }
  }

  .helper {
    margin-top: 0.25rem;
    font: var(--font-body-12);
    color: var(--color-grey);
  }


}