.input {

  .wrapper {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    padding: 1.75rem 3.125rem 0.25rem 1rem;
    background: var(--color-extralight-grey);
    outline: 0.125rem solid var(--color-extralight-grey);
    cursor: text;
    border-radius: var(--border-radius-sm);
    height: 4rem;
  }

  &.filled .wrapper {
    outline: 0.0625rem solid var(--color-mid-grey);
    background: var(--color-white);
  }

  &.focused .wrapper {
    outline: 0.125rem solid var(--color-mid-grey);
    background: var(--color-white);
  }

  &.invalid .wrapper {
    border: 0.125rem solid var(--color-danger);
  }

  .label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font: var(--font-body-18);
    color: var(--color-dark-grey);
    transition: var(--transition-default);

    &.active {
      top: 1rem;
      font: var(--font-body-14);
      color: var(--color-grey);
    }
  }

  input {
    font: var(--font-body-18);
    background: none;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--color-mid-grey);
    }
  }

  .helper {
    margin-top: 0.25rem;
    font: var(--font-body-12);
    color: var(--color-grey);
  }

  &.invalid .helper {
    color: var(--color-danger);
  }
}