.button {
  font: var(--font-headline-5);
  padding: 1.25rem 2.5rem;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: var(--transition-default);

  &.default {
    border: 0.0625rem solid var(--color-mid-grey);
    background: var(--color-light-grey);
    &:hover {
      background: var(--color-white);
    }
  }

  &.primary {
    border: none;
    color: var(--color-white);
    background: var(--color-primary);
    &:hover {
      background: var(--color-primary-hover);
    }
  }

  &.block {
    width: 100%;
  }
}