@font-face {
  font-family: "Graphik LCG";
  src: url(../assets/fonts/GraphikLCG-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Graphik LCG";
  src: url(../assets/fonts/GraphikLCG-Semibold.woff2);
  font-weight: 600;
}