.questionsAndAnswersSection {
  padding: 5rem 0;
  .title {
    margin-bottom: 4.125rem;
    text-align: center;
  }

  .list {
    max-width: 63rem;
    margin: 0 auto;
  }

  .item {
    border-top: 0.0625rem solid var(--color-light-grey);
  }
}