.formSection {
  padding: 5rem 0;

  .title {
    margin-bottom: 2.75rem;
    text-align: center;
  }

  .form {
    max-width: 50rem;
    margin: 0 auto;
    display: grid;

    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .formRow {
    display: flex;
  }

  .formItem {
    flex-basis: 0;
    flex-grow: 1;
  }
}