.slider {
  width: 67.75rem;
  margin: 0 auto;

  .items {
    display: flex;
  }

  .item {

  }

  .itemHeader {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.25rem;

    & > img {
      width: 2.75rem;
      height: 2.75rem;
    }

    & > div {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }
  }

  .itemTitle {

  }

  .itemSubtitle {
    font: var(--font-body-12);
    color: var(--color-dark-grey);
  }
}